<div id="configApiKeyPanel" class="span7" ng-controller="ConfigController">
  <form class="well form-horizontal">
      <div class="control-group">
        <a class="close fade" href="#/">×</a>
      </div>

      <div class="control-group">
        <label class="control-label" for="txtTRELLOAPIKEY">Your Trello API Key</label>
        <div class="controls">
          <input id="txtTRELLOAPIKEY" type="text" maxlength="32" style="width:95%;" ng-model="textApiKey" placeholder="Enter your 32 characters Trello API key..."/>
          <small class="help-block"><em>
            Trelloviz runs only in your browser and doesn't have any server side logic running.
            Thus it will get access to the Trello API via an API Key, that you have to provide.
            Grab yours from <a href="https://www.trello.com/docs" target="_blank">https://www.trello.com/docs</a>
          </em></small>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <button id="btnSaveApiKey" class="btn" ng-click="actionSaveApiKeyToLocalStorage()">Save</button>
        </div>
      </div>
  </form>
</div>